<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Birthday</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% if user.profile %>
          <td><%= user.profile.birthday %></td>
          <td><%= user.profile.location %></td>
        <% else %>
          <td>Profile not yet created</td>
          <td></td>
        <% end %>
        <% if current_user.friends.include?(user) %>
          <td><%= link_to 'Remove friend', friend_requests_path(user: user.id), \
            method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
            <td><%= link_to 'View profile', user.profile %></td>
        <% elsif current_user.pending_friends.include?(user) %>
          <td>Friend request pending</td>
        <% else %>
          <td><%= link_to 'Add friend', friend_requests_path(user: user.id), method: :post, remote: true %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.profile %>
  <%= link_to 'Edit my profile', edit_profile_path(current_user.profile) %>
<% else %>
  <%= link_to 'Create my profile', new_profile_path %>
<% end %>