<% unless comments.empty? %>
  <ul>
  <% comments.each do |com| %>
    <li>
      <%= com.user.name %>: 
      <%= com.body %><br>
      <% if com.user == current_user || post.user == current_user %>
        <%= link_to 'Edit comment', edit_post_comment_path(post, com) %>
        <%= link_to 'Delete comment', post_comment_path(post, com), method: :delete, data: { confirm: 'Are you sure?' } %><br>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Add comment', new_post_comment_path(post) %>